body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*
.sign_in_container {
  width: 100%;
  min-height: 400px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


} */
