html {
  background-color: #212121;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

header {
  padding: 1em;
}

header img {
  max-width: 330px;
}

div,
header {
  background-color: #212121;
}

.MuiTypography-displayBlock {
  display: block;
  background-color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p {
  color: #7bc233;
}

label,
input {
  color: #7bc233;
  font-size: 1.1em;
  padding: 0.25em;
}

button {
  background-color: #424242 !important;
}

span.MuiButton-label {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.5em 1em;
}

a {
  text-decoration: none;
}

div {
  background-color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  color: #7bc233;
}

button {
  background-color: #424242 !important;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*
.sign_in_container {
  width: 100%;
  min-height: 400px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


} */
